# Dependencias
/backend/vendor/
/frontend/node_modules/
node_modules/

# Entorno / secretos
.env
*.env.local
backend/.env

# Build / cache
/frontend/.next/
/backend/storage/*.log
/backend/bootstrap/cache/*.php
dist/
build/

# Sistema
.DS_Store
Thumbs.db
